.visually__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.test__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 20px;

    @media (min-width: 425px) {
        gap: 40px;
        padding: 40px;
    }
}

.test {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: 425px) {
        gap: 40px;
    }
}

.test__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--font-default-color);
    background-color: var(--background-color);
    border-radius: 20px;

    @media (min-width: 425px) {
        gap: 30px;
    }
}

.test__question {
    font-size: 20px;
    color: var(--font-title-color);

    @media (min-width: 425px) {
        font-size: 24px;
    }
}

.test__answerList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;

    @media (min-width: 425px) {
        font-size: 18px;
    }
}

.test__answerItem {
    position: relative;
    padding-left: 45px;
}

.test__answerItemLabel {
    position: relative;
    cursor: pointer;
}

.test__answerItemLabel::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -40px;
    width: 15px;
    height: 15px;
    border: 1px solid var(--font-default-color);
    cursor: pointer;
}

.test__answerItemCheckbox:checked+.test__answerItemLabel::after {
    content: "";
    position: absolute;
    top: 3px;
    left: -40px;
    width: 15px;
    height: 15px;
    border: 1px solid var(--color-accent);
    background-color: var(--color-accent);
}

.test__button {
    color: var(--font-title-color);
    background-color: var(--background-color);
    border: 1px solid var(--font-title-color);
    transition: color 0.3s, border 0.3s ease-in-out;
}

.test__button:hover {
    color: var(--color-accent);
    background-color: var(--background-color);
    border: 1px solid var(--color-accent);
}

.test__button__error {
    color: var(--color-error);
    background-color: var(--background-color);
    border: 1px solid var(--color-error);
    transition: color 0.3s, border 0.3s ease-in-out;
}

.test__button__right {
    color: var(--font-title-color);
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
    transition: background-color 0.5s, border 0.5s ease-in-out;
}