:root {
  --font: 'Montserrat', 'Arial', sans-serif;

  --background-color: #12151C;
  --background-card-color: #20232A;
  --border-card-color: #605D5D;
  --border-color: #d0d0d261;
  --font-default-color: #d0d0d2;
  --font-title-color: #ffffff;
  --color-accent: #1AC3B8;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: var(--font);
  font-weight: 500;
  color: var(--font-default-color);
  line-height: 1.5;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}